.container {
  padding: 0 2rem;
  min-width: 100vw;
}
.splash {
  background-color: rgba(56, 202, 173, 0.3);
  min-width: 100vw;
}
.subsplash {
  background-color: rgba(56, 202, 173, 0.3);
  height: 40px;
  text-align: center;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b97b6;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #d2ded6;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-top: 0.5em;
}

.title,
.description {
  text-align: center;
  min-width: 100vw;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #d2ded6;
  text-decoration: none;
  border: 1px solid #1b97b6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card h2:hover,
.card h2:focus,
.card h2:active {
  color: #1d5b32;
  /* border-color: #1d5b32; */
  /* border: 1px solid #cadfd1; */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #d2ded6;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.iconsList {
  padding: 4px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
